/*classes*/

.paragrafo{
    background-color: #000;
    color: aqua;
    padding: 5px;

}

#exclusive-title {
    background-color: purple;
    color: yellow;
    padding: 10px;
}

/* ordem da regras */
h2{
    border-bottom: 2px solid red;
}
.titulo {
    border-bottom: 2px solid blue;
}

#algum-titulo {
    border-bottom: 3px solid green;
}
/* hex */
.hex{
    color:#9b8d99 ;
}

/*rgb*/

.rgb {
  color: rgb(255, 0, 0);  
}

.rgb-mixed {
    color: rgb(121, 27, 13);
}

.rgba{
    color: rgba(200, 99, 145, 0.3);
}

.hsl{
    color: hsl(30, 60%, 55%);
}